@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdfdfd; /* slate-1 */
    color: #11181c; /* slate-12 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(rgb(228 229 230) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
